<div id="container-books-show">
  <nav>
    <span><a href="/"><i class="fas fa-arrow-left fa-2x"></i></a></span>
    <span><a href=""><i class="fas fa-shopping-cart fa-2x"></i></a></span>
  </nav>
  <div id="book">
    <div class="cover">
      <img src="{{book.coverPath}}" alt="Couverture de {{book.title}}">
    </div>
    <div class="main-details">
      <h1>{{book.title}}</h1>
      <h2>{{book.authors}}</h2>
      <p><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <span>(x notes)</span></p>
    </div>
  </div>
  <div id="interactions">
    <ul>
      <li><a href=""><i class="fas fa-book"></i><span>ajouter à une liste</span></a></li>
      <li><a href=""><i class="fas fa-pen"></i><span>écrire une critique</span></a></li>
    </ul>
  </div>
  <div id="description">
    <header>
      <h3>Description</h3>
      <a href="/livre/{{book._id}}/enrichir">enrichir</a>
    </header>
    <main>
      <p>Dans un futur post apocalyptique indéterminé, une communauté d'hommes et de femmes organise sa survie dans un silo souterrain géant.</p>
      <div class="tags">
        <ul>
          <li><a href="">roman policier</a></li>
          <li><a href="">londres</a></li>
          <li><a href="">enquêtes</a></li>
        </ul>
      </div>
    </main>
  </div>
  <div id="book-reviews">
    <header>
      <h3>Critiques</h3>
      <a href="/livre/{{book.id}}/critiques">plus</a>
    </header>
    <main>
      {{#each book.reviews}}
        {{>reviewCardBookPage}}
      {{/each}}
    </main>
  </div>
</div>