<div class="trending-book">
  <a href="/livre/{{_id}}">
    <img src="{{coverPath}}">
  </a>
  <div class="description">
    <h3><a href="/livre/{{_id}}">{{title}}</a></h3>
    <p><a href="/recherche?q={{authors}}">{{authors}}</a></p>  
  </div>
</div>