<div class="last-review-card">
  <div class="book-cover">
    <a href="/livre/{{book_id._id}}">
      <img src="{{book_id.coverPath}}" alt="Couverture de {{book_id.title}}">
    </a>
  </div>
  <div class="book-review">
    <main>
      <p>{{review}}</p>
    </main>
    <footer>
      <div class="rating">
        <i class="fas fa-star"></i>
        {{rating}}
      </div>
      <div class="author">
        <a href="/membre/{{user_id._id}}">
          <img alt="{{user_id.username}} avatar" src="{{user_id.avatarPath}}">
          <span>{{user_id.username}}</span>
        </a>
      </div>
    </footer>
  </div>
</div>