<div class="last-review">
  <div class="cover">
    <a href="/livre/{{book_id.slug}}">
      <img src="{{book_id.coverPath}}">
    </a>
  </div>
  <div class="review">
    <a href="/livre/{{book_id.slug}}">
      <p>{{review}}</p>
    </a>
    <div class="details">
      <div class="rating">
        <i class="fas fa-star"></i>
        {{rating}}
      </div>
      <div class="review-author">
        <a href="/livre/{{book_id.slug}}">
          <img alt="{{user_id.username}} avatar" src="{{user_id.avatarPath}}">
          <span>{{user_id.username}}</span>
        </a>
      </div>
    </div>
  </div>
</div>